body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 20px 150px 0 150px;
  position: relative;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901C1C;
}

.logo {
  width: 240px;
}

.photograph-header {
  background-color: #FAFAFA;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.photograph-header h1 {
  color: #D3573C;
  font-size: 4rem;
  margin: 0;
  font-weight: 100;
}
.photograph-header-locate {
  color: #901C1C;
}
.photograph-header-tag {
  color: #525252;
}
.photograph-header-button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}
.photograph-header-portrait {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.photograph-header-portrait img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.photograph-menu {
  display: flex;
  align-items: center;
}
.photograph-menu h2 {
  padding: 0 2rem 0 0;
}
.photograph-menu-container {
  position: relative;
}
.photograph-menu-container-arrow {
  cursor: pointer;
  padding: 0;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #901C1C;
  border-radius: 5px;
  color: white;
  font-family: "DM Sans", sans-serif;
  font-size: 1.1rem;
  min-width: 10rem;
}
.photograph-menu-container-arrow p {
  padding: 0.7rem 1rem;
  margin: 0;
}
.photograph-menu-container-arrow img {
  padding: 0 1rem 0 0;
}
.photograph-menu-container-select {
  overflow: hidden;
  position: absolute;
  display: none;
  padding: 0 0.5rem;
  box-sizing: border-box;
  width: 10rem;
  background-color: #901C1C;
  z-index: 10;
}
.photograph-menu-container-select :not(:last-child) {
  border-bottom: solid 1px white;
}
.photograph-menu-container-select :first-child {
  border-top: solid 1px white;
}
.photograph-menu-container-select-button {
  border: none;
  background-color: #901C1C;
  color: white;
  padding: 0.7rem 0.5rem;
  font-family: "DM Sans", sans-serif;
  text-align: start;
  font-size: 1.1rem;
  width: 100%;
}
.photograph-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.photograph-body-article {
  width: 30%;
  margin: 20px 0 0 0;
}
.photograph-body-article a {
  display: block;
}
.photograph-body-article a:focus-visible {
  outline: solid 2px #D3573C;
  border-radius: 4px;
}
.photograph-body-article-image {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.photograph-body-article-information {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: #901C1C;
  min-height: 74px;
}
.photograph-body-article-information-like {
  display: flex;
  align-items: center;
}
.photograph-body-article-information-like-button {
  margin: 0;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  margin: 0 0 0 5px;
}
.photograph-body-article-information-like-button-icon {
  width: 25px;
}

.counter {
  position: fixed;
  bottom: 0;
  right: 50px;
  background-color: #D3573C;
  padding: 10px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px 5px 0 0;
  min-width: 20rem;
  box-sizing: border-box;
}
.counter-container {
  display: flex;
  align-items: center;
}

#counter-heart {
  width: 25px;
  padding: 0 0 0 5px;
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(175deg) brightness(0) contrast(105%);
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}
.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.modal-header-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.modal-header-wrapper h2, .modal-header-wrapper span {
  font-size: 40px;
  font-weight: normal;
  margin: 0;
}
.modal-header img {
  cursor: pointer;
}
.modal-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.modal-form-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}
.modal-form-content label {
  color: #312E2E;
  font-size: 36px;
}
.modal-form-content input {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 1.6rem;
  padding: 10px;
  box-sizing: border-box;
}
.modal-form-content textarea {
  width: 100%;
  border: none;
  border-radius: 5px;
  resize: none;
  height: 100px;
  font-size: 1.6rem;
  padding: 10px;
  box-sizing: border-box;
}

#contact_modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
}

.contact-button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

#close_button {
  filter: invert(99%) sepia(100%) saturate(0%) hue-rotate(187deg) brightness(104%) contrast(106%);
  border: none;
  background: transparent;
}

.image {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background-color: #FFFFFF;
}
.image-container {
  display: flex;
  justify-content: center;
  width: 92vw;
  margin: auto;
}
.image-container-before {
  padding-right: 20px;
}
.image-container-after {
  padding-left: 20px;
}
.image-container-before, .image-container-after {
  position: relative;
  display: flex;
  align-items: center;
}
.image-container-before-close, .image-container-after-close {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border: none;
  background: none;
}
.image-container-before-close img, .image-container-after-close img {
  filter: invert(14%) sepia(39%) saturate(6583%) hue-rotate(354deg) brightness(90%) contrast(84%);
}
.image-container-before-button, .image-container-after-button {
  border: none;
  background: none;
}
.image-container-before-button img, .image-container-after-button img {
  width: 60px;
  filter: invert(14%) sepia(39%) saturate(6583%) hue-rotate(354deg) brightness(90%) contrast(84%);
}
.image-container-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container-img-wrapper-title {
  width: -moz-fit-content;
  width: fit-content;
  color: #901C1C;
}
.image-container-img-wrapper-title img, .image-container-img-wrapper-title video {
  width: 800px;
  height: 800px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

button:focus-visible, a:focus-visible, input:focus-visible, textarea:focus-visible {
  outline: solid 2px #D3573C;
  border-radius: 4px;
}/*# sourceMappingURL=photograph.css.map */